.saitbar {
     margin: 0 auto;
     padding: 0;
     width: 240px;
     }
  .menu-3 {
     margin: 0;
     padding: 0;
     background-color: #fff;
     height: auto;
     list-style-type: none;
     }
  .menu-3 li {
     margin: 0 0 2px;
     padding: 0;
     background-color: #990000;
     border-left: 26px solid #273ed9;
     transition: all 0.7s ease 0s;
     display: block;
     }
  .menu-3 a {
     padding: 6px 0 8px 10px;
     color: #f2f2f2;
     text-decoration: none;
     border-left: 6px solid #5269ff;
     transition: all 0.7s ease 0s;
     display: block;
     }
  .menu-3 li:hover {
     background-color: #ccc;
     }
  .menu-3 li:hover a {
     color: #0e25c0;
     padding: 6px 0 8px 22px;
     border-left: 5px solid #900000;
     }
     #lol{ display: none;}

     #kek{ display: none;}

     #z1{ display: none;}
     
     #z2{ display: none;}
     .z3{color: #000;}